/* 
    Document   : paneles
    Created on : 09/12/2009, 11:06:11 PM
    Author     : alfonso
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.pnlPrincipal{
    top:0%;
    bottom: 0%;
    left:0%;
    right:0%;
    border-color:#990000;
    background-color:#f2f2f2;
    width:100%;
    border:none;

}
.headerGrid{
    top:0%;
    bottom: 75%;
    left:0%;
    right:50%;
    border-color:#00995C;
    border-width:0px;
    border-style:dotted;
    border-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    width:100%;
    background-image: url("./images/header_bg2.png");
    background-repeat:repeat-x;
    color:white;
}

.logoUNA{
    top:0%;
    bottom: 75%;
    left:0%;
    right:0%;
    align: center;
    border-color:#005C99;
    border-width:1px;
    border-style:ridge;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width:33%;
    color:white;
    width: 60%
}
.menu{
    top:0%;
    bottom: 0%;
    left:0%;
    right:0%;
    border-color:#005C99;
    border-width:0px;
    border-style:groove;
    border-radius: 3px;
    -moz-border-radius: 5px;
    font-size: 12px;
    
}
.contenido{
    font-size:10px;
    color:#990000;
    top:0%;
    bottom: 0%;
    left:0%;
    right:0%;
    border-color:#af0e0e;
    border-width:0px;
    border-style:inset;
    width:75%;
    height:100%;
    
}
.footer{
    top:0%;
    bottom: 0%;
    left:0%;
    right:0%;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    width:100%;
    height:40px;
    background-image: url("./images/footer_bg2.png");
    background-repeat:repeat-x;
    font-size: 12px;
}
.item{
    background-image: url("./images/item_up.png");
    background-repeat:repeat-x;
    width:150px;
    height:40px;
    -moz-border-radius: 5px;
    float:left;
    text-align:center;
    text-indent:2%;
    vertical-align:middle;
    list-style-image: url("./images/item.png");
}
.item:hover{
    background-image: url("./images/item_dw2.png");
    background-repeat:repeat-x;
    border-radius: 4px;
    color:#ffffff;
    -moz-border-radius: 5px;
    font-weight:bolder;
    font-size:larger;
    cursor:pointer;
}

.formulario , .formularioCol1 , .formularioCol2{
    vertical-align: top;
}

.central{
    width:133%;
}
.estado{
    font-size:medium;
}
.error{
    color:#aa0000;
    font-size:smaller;

}
.info{
    color:#0000aa;
    font-size:medium;
    font-weight:bold;
}